@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 96%; 
  margin: 0 auto;
}

.container{
  max-width: 1360px;
  width: 93%; 
  margin: 27px auto;
}
/*=================================
  Header styling starts here
=================================*/

header,
footer {
  background-color: #000;
  color: #FFF;
  padding: 1.8% 0;
}

header div:first-child,
footer div:first-child{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

nav{
  float: right;
}

nav a{
  color: #FFF;
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 10px ;
}

nav li:first-child a{
  padding-right: 10px;
  border-right: 1px solid #FFF;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

h2{
  text-transform: uppercase;
  font-size: 19px;
  padding: 1.7% 0 2%;
}

h2 + ul{
  padding-bottom: 3.4%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-around;
}

h3{
  text-align: center;
  padding: 4.5% 0;
  text-transform: uppercase;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.high h3 { background-color: #ED1C24; }
.medium h3 { background-color:  #F26522; }
.low h3 { background-color: #FFFF00; }


h2 + ul li{
  width: 28.5%;
  box-sizing: border-box;
  border: 2px solid #A5A5A5;
  border-radius: 10px;
}

.drop{
  min-height: 243px;
}

.task{
  color: #FFF;
  background-color: #000;
  text-transform: uppercase;
  padding: 8px 36px;
  border-radius: 10px;
  margin-right: 10px;
}

.priorities ul:last-of-type{
  padding-bottom: 3.2%;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 425px) {

  h2 + ul li{
    width: 100%;
    margin-bottom: 10%;
  }

  .task{
    margin-bottom: 10%;
  }

  .priorities ul:last-of-type{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;}
}  